/* em is a unit measurement. It indicates size relative to the size of the font.*/
/* iem means "equal to the current font size." 2em means it is 2 times current font size.*/
/* e.g. ina 2em unit of measurement, if your front is 11px, then 2em is equal to 22 pixels */
/* Pixels, or px, are one of the most common length of units in css */
/* In css, 1 pixel is formally defined as 1/96 of an inch */
/* All other absolute length units are base on this definition of a pixel. */

body {
  background-color: tan;
  font-family: Arial, Helvetica, sans-serif;
}
.loremp {
  font-family: "Times New Roman", Times, serif;
}
#lorem {
  font-size: 150%;
  color: #0000ff;
}
h3 + h4,
h4 + ol {
  border: 1px solid red;
}
section p {
  background-color: yellow;
}
section h2 + p {
  background-color: pink;
}
a[href="https://my.gblearn.com/"]
{
  border: 2px dotted red;
}
a[href="https://template.html"]:hover, a[href="template.html"]:focus
{
  border: 2px dotted red;
}
#lorem::first-letter {
  font-size: 180%;
  color: green;
}
ol li:first-child {
  color: red;
}
ol li:nth-child(2) {
  color: blue;
}
ol li:last-child {
  color: green;
}
header > h1 {
  font-size: 350%;
  text-shadow: 4px 3px 4px blue;
  color: purple;
}
#wrapper {
  background-color: tan;
  margin: 5em auto;
  /* auto means browser selects suitable margin */
  border: 3px solid purple;
  width: 1024px;
}
h2,
h3,
h4,
h5,
h6 {
  color: purple;
  border-bottom: 2px groove ivory;
}
header,
main,
footer {
  border: 5px dashed blue;
  padding: 1em;
  margin: 1.5em;
}
header {
  text-align: center;
  background-image: url("../img/rsz_pexels-alexander-popovkin-127845384.jpg");
  background-size: cover;
}
.button {
  text-decoration: none;
  border: 4px solid purple;
  padding: 8px;
  border-radius: 20px;
  background-image: linear-gradient(rebeccapurple, violet);
  color: bisque;
  box-shadow: 4px 4px 6px blue;
}
figure {
  overflow: auto;
}
figure > img {
  width: 854px;
  border: 10px solid black;
  padding: 10px;
  box-sizing: border-box;
}
aside,
nav {
  padding: 0.5em;
  margin: 0.25em;
}
nav {
  width: 25%;
  float: left;
  text-align: center;
}
aside {
  float: right;
  width: 65%;
}
article {
  clear: both;
  /* clear ppty sets whether an element must be moved below elements that precede it */
  column-count: 3;
  /* breaks content into colums */
  column-gap: 2em;
  /* gives a gap between colums of specified size */
  column-rule: 2px groove ivory;
  /* sets width, style and color of line drawn between colums */
}
article > h3 {
  column-span: all;
  /* ppty enalbes elements to span across all colums */
}
#logo {
  width: 100px;
  position: absolute;
  /* psn ppty is now an element is positioned in a doc; static, relative, sticky, absolute, and fixed */
  left: 10px;
  top: 10px;
}
header {
  position: relative;
}
@font-face {
  font-family: asidefont;
  src: url("../font/stone_orgonite_roughen_Regular.ttf");
}
aside {
  font-family: asidefont, sans-serif;
}
header {
  font-family: "Ranchers", cursive;
}
nav ul {
  list-style: none;
}
nav ul a {
  display: block;
  padding: 8px 16px;
  margin: 12px;
}
nav li a.button:hover,
nav li a.button:focus {
  border-color: white;
  color: black;
}
